@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif;
  line-height: 1.6;
}

.first-div {
  background-color: red;
  height: 50vh;
  width: 30%;
}
@media screen and (min-width: 720px) {
  .first-div {
    background-color: blue;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.4rem;
  height: auto;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid black;
}
header a {
  text-decoration: none;
  color: black;
}
header a h1 {
  font-size: 2rem;
  font-weight: 900;
}
header.shownNav {
  background-color: black;
  height: 100vh;
  align-items: start;
}
header.shownNav h1 {
  color: white;
}
header .hamburger div {
  height: 0.2rem;
  width: 35px;
  margin-top: 0.3rem;
  background-color: black;
}
header .hamburger.clicked {
  padding-top: 0.6rem;
}
header .hamburger.clicked div:first-child {
  transition: 0.4s;
  background-color: white;
  transform: rotate(-405deg) translate(-3.5px, 3px);
}
header .hamburger.clicked div:nth-child(2) {
  transition: 0.4s;
  background-color: white;
  transform: rotate(405deg) translate(-3.5px, -3px);
}
header .nav-contents {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: -100%;
  display: flex;
  flex-direction: column;
  border-top: 0.12rem solid #ddd;
}
header .nav-contents p {
  color: white;
  font-size: 1.2rem;
}
header .nav-contents p:hover {
  color: #ff90e8;
}
header .nav-contents div {
  padding-left: 1.3rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
header .nav-contents div div {
  margin-top: 1.2rem;
}
header .nav-contents.shownNavContents {
  transition: 0.4s;
  top: 10%;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero .hero-1-container {
  margin: 0 auto;
}
.hero .hero-1 {
  background-color: #ff90e8;
  padding: 1.8rem 2.4rem 2rem 2.4rem;
  color: black;
  text-align: center;
  border-bottom: 0.2rem solid black;
}
.hero .hero-1 h2 {
  font-weight: 900;
  font-size: 2.7rem;
  margin-top: 1.3rem;
}
.hero .hero-1 p {
  margin-top: 2rem;
}
.hero .hero-1 button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.2rem;
}
.hero .hero-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 1.9rem;
  background-color: #ffc900;
  border-bottom: 0.2rem solid black;
}
.hero .hero-2 img {
  width: 100%;
}

.ideas {
  display: none;
}
.ideas .ideas-txt {
  padding: 2.4rem 1.9rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 900;
  border-bottom: 0.2rem solid black;
}
.ideas .ideas-loop-container {
  background-color: #ffc900;
  padding: 2.4rem 1.9rem;
}
.ideas .ideas-loop {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  border: 0.2rem solid black;
  overflow: visible;
}
.ideas .ideas-loop .loop-1, .ideas .ideas-loop .loop-4 {
  align-self: center;
}

.illustration-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  text-align: center;
}
.illustration-grid .risks {
  padding: 2rem 1.9rem;
  background-color: #b23386;
  border-bottom: 0.2rem solid black;
  font-size: 1.9rem;
}
.illustration-grid .bets {
  padding: 2.7rem 1.9rem;
  background-color: #ff90e8;
  font-size: 1.9rem;
}
.illustration-grid .illustration-1 {
  background-color: black;
  padding: 2rem 1.8rem;
}
.illustration-grid .illustration-1 .illustration-1-info {
  background-color: white;
  border-radius: 5px;
  padding: 0.3em;
  font-size: 0.9rem;
  font-weight: 700;
  border: 0.2rem solid black;
  transform: translateY(20px);
  width: 200px;
}
.illustration-grid .illustration-1 img {
  width: 100%;
}
.illustration-grid .illustration-2 {
  background-color: #ffc900;
  padding: 2rem 1.8rem;
}
.illustration-grid .illustration-2 .illustration-2-info {
  background-color: white;
  border-radius: 5px;
  padding: 0.3em;
  font-size: 0.9rem;
  font-weight: 700;
  border: 0.2rem solid black;
  transform: translateY(20px);
  width: 220px;
}
.illustration-grid .illustration-2 img {
  width: 100%;
}

.features {
  background-color: white;
  padding: 2rem 1.8rem;
  border-bottom: 0.2rem solid black;
}
.features h2 {
  font-weight: 900;
  font-size: 2.6rem;
}
.features p {
  margin-top: 2rem;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}
.features a {
  color: black;
  font-weight: 600;
  margin-top: 2rem;
}

.sell-anything {
  display: flex;
  flex-direction: column;
  border-bottom: 0.2rem solid black;
}
.sell-anything .sell-anything-img {
  background-color: #23a094;
}
.sell-anything .sell-anything-img img {
  width: 100%;
}
.sell-anything .sell-anything-info {
  padding: 2rem 1.5rem;
}
.sell-anything .sell-anything-info h2 {
  font-size: 2.2rem;
  font-weight: 700;
}
.sell-anything .sell-anything-info p {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}
.sell-anything .sell-anything-info ul {
  margin-top: 2rem;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  line-height: 1.7;
}

.maxParks {
  background-color: #ff90e8;
  padding: 2rem 1.7rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.maxParks img {
  width: 100%;
}
.maxParks .maxParks-info .maxParks-info-sub {
  font-weight: bold;
  margin-top: 0.4rem;
}

.sell-to-anyone {
  display: flex;
  flex-direction: column;
}
.sell-to-anyone .sell-to-anyone-img {
  padding: 1.7rem 1.2rem;
  background-color: black;
}
.sell-to-anyone .sell-to-anyone-img img {
  width: 100%;
}
.sell-to-anyone .sell-to-anyone-info {
  padding: 2rem 1.7rem;
}
.sell-to-anyone .sell-to-anyone-info h2 {
  font-size: 2.1rem;
}
.sell-to-anyone .sell-to-anyone-info p {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.14rem;
}