@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Wix Madefor Display', sans-serif;
    line-height: 1.6;
}

$bottomBorder: .2rem solid black;
$basePadding: 2rem 1.7rem;

// colors

$pink: #ff90e8;
$yellow: #ffc900;
$violet: #b23386;
$green: #23a094;

// illustration-info styling
@mixin illustrationInfo{
    background-color: white;
    border-radius: 5px;
    padding: .3em;
    font-size: .9rem;
    font-weight: 700;
    border: $bottomBorder;
    transform: translateY(20px);
}